<!DOCTYPE html>
<html ng-app="OverPapers">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div ng-controller="overController">
    I have {{heroes.length}} heroes. They are:
    <input type="search" ng-model="searchText.tags" placeholder="search wallpapers..."/>
    <br>
    <br>
    <ul class="animate-repeat" ng-repeat="object in contents | filter:searchText:strict">
        <li>
            <text id="hero">{{object.hero}}</text>
            <img class="img-responsive" style="width:204px;height:auto;" ng-src="{{object.src}}" ng-click="openImage(object.src)">
            <text id="artist">{{object.artist}}</text>
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </li>
    </ul>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
