<!DOCTYPE html>
<html ng-app="OverPapers">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container center" ng-controller="overController">
    <div class="jumbotron">
        Wallpaper Search:
        <input type="search" ng-model="searchText" ng-change="searchTextChanged()" placeholder="search wallpapers..."/>
        <div>
            <ul class="animate-repeat" ng-repeat="object in matchedImages">
                <li>
                    <text id="hero">{{object.hero}}</text>
                    <a href="{{object.src}}">
                        <img class="img-responsive" style="width:204px;height:auto;"
                        ng-src="{{object.src}}">
                    </a>
                    <text  ng-show="object.artist">Artist:</text>
                    <text id="artist">{{object.artist}}</text>
                </li>
                <li class="animate-repeat" ng-if="results.length == 0">
                    <strong>No results found...</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
