<!DOCTYPE html>
<html ng-app="OverPapers">
<head>
    <title>Wallpapers for Overwatch</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>

</head>
<body ng-controller="overController">
<nav class="flexy-nav">
    <input id="searchTextBox" class="flexy-nav__search" type="search" ng-model="searchText"
           ng-change="searchTextChanged()"
           placeholder="search wallpapers..."/>
    <text id="searchTextTitle">Wallpaper Search:</text>

</nav>
<div class="container">
    <div>
        <ul class="animate-repeat flex-container">
            <li class="flex-item" ng-repeat="object in matchedImages">
                <text id="heroText">{{object.hero}}</text>
                <a href="{{object.src}}">
                    <img class="img-responsive" style="width:80%;height:auto;"
                         ng-src="{{object.thb}}">
                </a>
                <a href="{{object.artist_site}}">
                    <text id="artistTitle" ng-show="object.artist">Artist:</text>
                    <text id="artistText">{{object.artist}}</text>
                </a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </div>
</div>
<div ng-hide="showBody">
    <div>
        <div class="top_filler">
            <a href="https://mega.nz/#!fgEnFYzY!RzXpnyQrAvOUt0ljv1fKnbkEMeVdsBvFszURmSlwZ6E" target="_blank"
               class="link">
                <div class="download">
                    <h4>Download All Wallpapers</h4>
                </div>
            </a>
        </div>
        <div class="entry" ng-repeat="heroIcon in heroes" style="padding-left: 3px;padding-right: 3px;"
             ng-click="selectHero(heroIcon.name)">
            <img ng-src="assets/images/index_images/{{heroIcon.name}}.jpg" class="icon" alt="{{heroIcon.name}}"/>
            <h4>{{heroIcon.name}}</h4>
        </div>

        <div class="entry" style="padding-left: 3px;padding-right: 3px;" ng-click="selectHero('miscellaneous')">
            <img src="assets/images/index_images/logo.jpg" class="icon" alt="Miscellaneous"/>
            <h4>Miscellaneous</h4>
        </div>
        <!-- <div class="entry" style="padding-left: 3px;padding-right: 3px;" ng-click="selectHero('mobile')">
            <img src="assets/images/index_images/logo.jpg" class="icon" alt="Mobile"/>
            <h4>Mobile</h4>
        </div> -->
        <div class="entry" style="padding-left: 3px;padding-right: 3px;" ng-click="selectHero('')">
            <img src="assets/images/index_images/logo.jpg" class="icon" alt="All"/>
            <h4>All</h4>
        </div>

        <div class="bottom">
            <p id="disclaimer">Overwatch Wallpapers is not endorsed by Blizzard and
                does not reflect the views or opinions of Blizzard or anyone officially
                involved in producing or managing Overwatch.
                <br><br>
                Style of main page inspired by <a href="http://rpboyer15.github.io/sounds-of-overwatch/">Sounds of
                    Overwatch</a>
                created by rpboyer15
                <br><br>
                These wallpapers have been found accross the internet. This page is not claiming ownership of any of the
                art.
                If you would like to add or remove your art from this page please email me at
                <a href="mailto:overwatchWallpapers@gmail.com">OverwatchWallpapers@gmail.com</a>
            </p>

        </div>
    </div>
</div>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project = 10965673;
    var sc_invisible = 1;
    var sc_security = "a1ff7f17";
    var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
            scJsHost +
            "statcounter.com/counter/counter.js'></" + "script>");
</script>
<noscript>
    <div class="statcounter">
        <a title="hits counter"
           href="http://statcounter.com/free-hit-counter/"
           target="_blank">
            <img class="statcounter"
                 src="//c.statcounter.com/10965673/0/a1ff7f17/1/" alt="hits counter">
        </a>
    </div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>

<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>
